.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.links{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:30px;
    font-size: 15px;
}
header nav button{
    background-color: rgba(253, 110, 10, 1);
    font-weight: 700;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    border: 0px white;

}
header nav a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#r{
    color: orangered
}
nav div h2{
    font-weight: 800;
    font-size: 35px;
}