.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    margin: 50px auto;
    width: 72%;
    max-width: 1160px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 51px;
}
nav ul a{
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 20px;
    font-weight: 400;
}
.logo{
    font-size: 45px;
    font-weight: 800;
}
.btn{
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    color: white;
    border: 0px none;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 65px;
    cursor: pointer;
}