.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 72%;
    max-width: 1160px;
    margin: 51px 0px 0px 230px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 51px;
}
nav ul a{
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 20px;
    font-weight: 400;
}
.logo{
    font-size: 45px;
    font-weight: 800;
}
.btn{
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    color: white;
    border: 0px none;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 65px;
    cursor: pointer;
    gap: 30px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0px 230px;
}
.hero-content{
    width: 585px;
    height: 262px;
}
.hero .hero-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.hero .hero-content h1{
    font-size: 85px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.hero .hero-content p{
    font-size: 18px;
    font-weight:normal;
    color: #757575;
    margin-bottom: 30px;
}
.hero .hero-image img{
    width: 584px;
    height: 676px;
    vertical-align: middle;
}